@model Issue

<form method="post">
	<div class="border p-3 pt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Edit issue</h2>
			<hr />
		</div>

		<input readonly asp-for="UserName" value="@Model.UserName" />
		<input readonly type="text" asp-for="CreatedDate" value="@Model.CreatedDate" />
		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Description"></label>
			<textarea asp-for="Description" class="form-control"></textarea>
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px;">Edit</button>
		<a asp-controller="Issue" asp-action="Index" class="btn btn-secondary" style="width:150px;">Back to list</a>
	</div>
</form>

@section Scripts{
	<partial name="_ValidationScriptsPartial.cshtml" />
}