@using IssueTracker.Utility
@model IEnumerable<Issue>

@{
	ViewData["Title"] = "All issues";
}

<div class="row">
	<div class="col-6">
		<h1 class="text-primary mb-0">Issues</h1>
	</div>
	@if(User.IsInRole(Globals.ROLE_USER_ADMIN) || User.IsInRole(Globals.ROLE_USER_ADVANCED))
	{
		<div class="col-6" style="text-align:end;">
			<a class="btn btn-success mt-2 mb-0" asp-controller="Issue" asp-action="Create">Create</a>
		</div>
	}
</div>
<hr />

<table id="tableData" class="table table-hover w-100" style="vertical-align:middle; table-layout:fixed">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Description</th>
			<th scope="col">Type</th>
			<th scope="col">Created by</th>
			<th scope="col">Created at</th>
			<th scope="col">Last updated</th>
			<th scope="col">Priority</th>
			<th scope="col">Status</th>
		</tr>
	</thead>
</table>

@section Scripts{
	<script src="~/js/issue_index.js" asp-append-version="true"></script>
}